html {
    scroll-behavior: smooth;
}

nav a {
    color: black !important;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.nav-wrapper > a, .nav-wrapper > ul {
    margin: 0 20px 0 20px;
}

#content {
    min-width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.10fr 1fr 0.10fr;
    grid-template-rows: 0.85fr 0.05fr;
    gap: 1em;
}

#name-image {
    grid-column: 2/3;
    grid-row: 1/-1;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
    margin: 20px;
}

#overlay {
    background: url("../img/raster.png") fixed;
    height: 100%;
}

#name-image>h1 {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    text-transform: uppercase;
}

#name-image>h3 {
    color: white;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    text-transform: uppercase;
}

#content>span {
    color: black;
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    top: 50%;
    left: 50%;
}

#about {
    min-width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.10fr 1fr 0.10fr;
    grid-template-rows: 0.85fr 0.05fr;
    gap: 1em;
}

#about-text {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #323232;
    color: white;
    margin: 20px;
}